.addWrapper,
.addWrapper .row {
    --bs-gutter-x: 0;
    overflow: hidden;
}

.header {
    font-size: 20px;
    font-weight: 500;
}

.formGroup {
    margin-top: 8px;
}

.submitBtn {
    padding: 8px 20px;
    background-color: #539E31;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
}