.bookItem {
    margin-top: 16px;
    background-color: rgb(241, 241, 241);
    background-color: white;
    height: 360px;
    vertical-align: middle;
}

.bookItem .card {
    height: 100%;
}

.bookItem:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
}

.bookInfo {
    flex: 1;
}
.name {
    margin: auto 0px;
    text-align: center;
    padding-top: 10px;
}

.bookItem img {
    height: 250px;
    margin: 0 auto;
    object-fit: contain;
}

.name {
    font-size: 16px;
    margin: 0;

    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardFooter {
    padding: 6px;
    text-align: center;
}

.price {
    font-weight: 600;
    color: #539E31;
    font-size: 18px;
    font-weight: bold;
}

.oldPrice {
    text-decoration: line-through;
    color: #666;
    margin-left: 10px;
}