.detail_info {
    margin-top: 32px;
    width: 600px;
}

.detail_info h2{
    font-size: 20px;
    line-height: 32px;
}

.detail_info_item {
    display: flex;
}

.detail_info_item div {
    padding: 8px 12px;
}

.detail_info_item div:first-child {
    width: 220px;
    color: rgb(79, 79, 79);
    font-weight: 500;
    background: rgb(239, 239, 239)
}

.detail_info_item:nth-of-type(2n + 1) div:last-child {
    flex: 1 1 0%;
    background-color: hwb(0 94% 6% / 0.486);
}