.searchWrapper {
    position: relative;
}

 .formControl {
    width: 500px;
    border: 1px solid #E1E1E1;
}


.formControl:focus {
    border-color: #80bdff;
  }

.searchBtn {
    position: absolute;
    right: 0;
    color: white;
    background-color: #80C063;
    line-height: normal;
    width: 50px;
    height: 100%;
}
