.adminSideBar {
    position: fixed;
    bottom: 0;
    float: none;
    left: 0;
    top: 0;
    background-color: #343a40;
    height: 100vh;
    z-index: 1038;

    width: 240px;
    transition: all ease 0.4s;
}

.adminSideBar .logo {
    border-bottom: 1px solid #4b545c;
}

.adminSideBar .logo img {
    width: 50px;
    opacity: 8;
    background-color: #539E31;
    border-radius: 50%;
}

.adminSideBar .logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.adminSideBar .logo a span {
    margin-left: 15px;
}


.adminSideBar a {
    color: rgba(255, 255, 255, 0.8);
}

.navList {
    flex-direction: column;
    padding: 0;
}

.navItem {
    position: relative;
}

.navItem.active > a {
    background-color: #586685;
    border-radius: 50px;
    font-weight: 500;
}

.navItem:hover .subnav {
    display: block;
}

.adminSideBar .navLink {
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    cursor: pointer;
    padding-left: 20px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.125); */
}

.adminSideBar .subnav {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: #484b4c;
    display: none;
}

.subnav .navItem:hover {
    background-color: #666;
}

.subnav .navLink {
    font-size: 16px;
    padding-left: 6px;
}

.navItem span {
    margin-left: 10px;
}
