.wrapper {
    width: 500px;
    padding: 16px;
    border: 2px solid #539E31;
    border-radius: 10px;
    margin: 0 auto;
}

.wrapper.sent {
    background-color: #f6f8fa;
}

.wrapper .title {
    text-align: center;
}

.info {
    font-weight: 500;
}

.formGroup {
    margin-bottom: 16px;
}

.submitBtn {
    padding: 8px 12px;
    width: 100%;
    background-color: #539E31;
    color: white;
    font-weight: 500;
    margin: 10px 0;
}

.bookstoreHighlight {
    font-weight: 700;
    color: #539E31;
    text-align: center;
}