.navbar .navItem {
    position: relative;
}

.navbar {
    justify-content: flex-start;
    padding: 0;
}

.navbar .navItem a {
    display: block;
    padding: 0px 20px;
    font-weight: 600;
    line-height: 50px;
}


.navbar .navItem a:hover {
    color: #539E31;
}

.navbar .navItem.active a {
    background-color: #539E31;
    color: white;
    border-radius: 4px;
}