button {
	cursor: pointer;
}

.wrapper td hr {
	border: none;
	border-bottom: 1px solid #707070;
}
.wrapper .image {
	width: 100px;
}

.remove_button {
	border: none;
	background-color: white;
	font-size: 20px;
}

.price {
	color:#539E31;
}

.quantity_wrapper input {
	width: 30px;
	border: none;
	text-align: center;
}

.quantity_wrapper button {
	background-color: white;
}

.increase_button {
	border: none;
	font-size: large;
	font-weight: bold;
}

.decrease_button {
	border: none;
	font-size: large;
	font-weight: bold;
}

/* Hide Arrows From Input Number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
