 .wrapper {
    width: 500px;
    padding: 16px;
    border: 2px solid #539E31;
    border-radius: 10px;
    margin: 0 auto;
}

.wrapper .title {
    text-align: center;
}

.loginPage .formGroup {
    margin-bottom: 16px;
}

.forgotPassword {
    color: red;
}

.loginPage .submitBtn {
    padding: 8px 12px;
    width: 100%;
    background-color: #539E31;
    color: white;
    font-weight: 500;
    margin: 10px 0;
}

.boxLoginThirdParty {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    width: 200px;
    padding: 6px;
    border-radius: 4px;
}

.boxLoginThirdParty:hover {
    background-color: #f3f2f2;
}

.boxLoginThirdParty button {
    margin-left: 8px;
    font-size: 15px;
    font-weight: 500;
}

.boxLoginThirdParty img {
    width: 30px;
    height: 30px;
}