.container {
    padding: 50px;
    text-align: center;
    height: calc(100vh - 100px);
}

.wrapper {
    border: 1px solid #539E31;
    border-radius: 25px;
    display: inline-block;
    padding: 40px 70px 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
}

.container form h1 {
    color: #539E31;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.container form input {
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
}

.container a {
    text-decoration: none;
}
.container p {
    margin: 10px 0px;
}

.forgot_password {
    float: right;
    color: #F14336;
    font-style: italic;
}

.register {
    color: #F14336;
}

.login_button {
    color: white;
    background-color: #539E31;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.third_party_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.third_party_wrapper button {
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 12px 20px 7px;
}

.third_party_wrapper button img {
    width: 20px;
}