* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  color: black;
}

body {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bookstore-btn {
  color: black;
  background-color: transparent;
  font-size: 20px;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.bookstore-btn:hover {
  opacity: 0.9;
}

.bookstore-btn.disabled, .bookstore-btn:disabled{
  pointer-events: none;
  opacity: .65;
}

.title {
  font-weight: 500;
  color: #539E31;
}

.subtitle {
  color: hsla(0,0%,100%,0.5);
}

a {
  cursor: pointer;
  color: inherit;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

a, a.active, a:hover {
  text-decoration: none;
}

.mt-60 {
  margin-top: 60px;
}

img {
  width: 100%;
  object-fit: cover;
}

.page {
  padding-top: 20px;
  padding-bottom: 120px;
}

.result-container {
  margin-top: 90px;
}

ul {
  list-style-type: none;
  display: flex;
}

p {
  margin: 0;
  padding: 0;
}

/* .row {
  flex-wrap: nowrap;
} */

svg {
  vertical-align: inherit;
}

.form-control {
  padding: 8px 10px;
  font-size: 15px;
  outline: none;
  color: #363636;
  border: 1px solid #E1E1E1;
}

.form-control:focus {
  box-shadow: none;
}

.main {
  margin: 200px 0;
}


.table > tbody,
.table > thead {
  vertical-align: middle;
}

.card {
  background-color: transparent;
}

.card-body {
  padding: 0 10px;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.ant-image-preview-img {
  max-width: 70vw !important;
  max-height: 70vh !important;
  object-fit: contain !important;
}